:root{
    --clr-light-gray: hsl(0, 10%, 95%);
    --clr-gray: hsl(0, 0%, 75%);
    --clr-grayish-violet: hsl(257, 7%, 63%);
    --clr-cyan: hsl(180, 66%, 49%);
    --clr-cyan-light: hsl(180, 56%, 65%);
    --clr-dark-violet: hsl(257, 27%, 26%);
    --clr-very-dark-blue: hsl(255, 11%, 22%);
    --clr-very-dark-violet: hsl(260, 8%, 14%);
    --clr-red: hsl(0, 87%, 67%);
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.main{
    background-color: var(--clr-light-gray);
}

/* Navigation Bar */

.nav{
    display: flex;
    margin-top: 2.5rem;
}

.logo{
    margin-left: 7rem;
}

.nav-list__group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%
}

.nav-list:first-child{
    margin-right: 20rem;
}

li{
    list-style-type: none;
}

.nav-link:hover{
    color: var(--clr-very-dark-violet);
}

.nav-link{
    text-decoration: none;
    color: var(--clr-gray);
    font-weight: bold;
    font-size: 0.9em;
}

.btn{
    text-decoration: none;
    background-color: var(--clr-cyan);
    color: white;
    font-weight: bold;
}

.btn:hover{
    background-color: var(--clr-cyan-light);
}

.btn__sign-up{
    margin-right: 7rem;
    padding: 0.5em 1.2em;
    border-radius: 3em;
}

/* Header */

.main-img__container{
    float: right;
    max-width: 42%;
    overflow: hidden;
    padding-top: 3rem;
}

.main-img{
    width: 630px;
}

.header{
    display: flex;
    flex-direction: row;
    padding-bottom: 7rem;
    background-color: white;
    margin-bottom: -4em;
}
.main-heading{
    margin-left: 7rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    margin-top: 4rem;
    width: 50%;
}

.main-heading__title{
    font-size: 4em;
    line-height: 1.1em;
    padding-bottom: 0.1em;
}

.main-heading__body{
    color: var(--clr-grayish-violet);
    font-weight: 500;
    font-size: 1.2em;
    width: 85%;
    line-height: 1.5em;
}

.btn__get-started{
    padding: 0.8em 2em;
    border-radius: 2.5em;
}

.get-started-btn{
    padding: 2.5em 0;
}

/* End of Header */

/* Shorten Link */

#form{
    background-image: url("./images/bg-shorten-desktop.svg");
    background-color: var(--clr-dark-violet);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
    border-radius: 6px;
    overflow-x: hidden;
    margin: 0 7rem;
}

#link{
    height: 3.5em;
    width: 60em;
    border: solid transparent;
    border-radius: 0.5em;
    padding-left: 2em;
}

.input-link input::placeholder {
    color: var(--clr-grayish-violet);
    font-weight: 500;
    font-size: 1.2em;
}

#link:focus::placeholder{
    color: transparent;
}

.btn__shorten{
    margin-left: 1em;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
}

.error-message{
    position: absolute;
    margin-left: -48rem;
    margin-top: 5rem;
}

#error{
    color: var(--clr-red);
    font-style: italic;
    font-size: 0.8em;
}

.shortened_links{
    background-color: white;
    margin: 1em 7em;
    padding: 1em;
    text-align: right;
}

.original_link, .new_link {
    padding: .5em 1em;
    display: inline;
}

.original_link {
    color: var(--clr-very-dark-violet);
    float: left;
}

.new_link {
    color: var(--clr-cyan);
}

.copy_button {
    padding: .7em 2em;
    border: none;
    background-color: var(--clr-cyan);
    color: white;
    border-radius: 0.5em;
    float: right;
}

.copy_button:hover {
    background-color: var(--clr-cyan-light);
    cursor: pointer;
}

/* End of Shorten Link */

/* Advanced Statistics */

.statistics{
    padding: 5em 0 4em 0;
    position: relative;
}

.statistics-heading{
    text-align: center;
}

.statistics-title{
    font-weight: 700;
    font-size: 1.8em;
    padding-bottom: 0.2em;
}

.statistics-body{
    color: var(--clr-grayish-violet);
    font-weight: 500;
    font-size: 0.9em;
    margin: 0 26rem;
    line-height: 1.8;
    padding-bottom: 3.5em;
}

.statistics-grid{
    margin: 0 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    padding: 1em 1em 7em 1em;
}

.grid-item{
    width: 85%;
    background-color: white;
    padding: 3em 1em 1em 1.3em;
    position: relative;
}

.grid-item-body{
    padding-top: 1em;
    color: var(--clr-gray);
    font-size: 0.8em;
}

.statistics-grid::before {
    position: absolute;
    content: "";
    width: 40rem;
    height: 0.5rem;
    margin: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-cyan);
}

.grid-icon {
    width: 4rem;
    height: 4rem;
    background-color: var(--clr-very-dark-blue);
    position: absolute;
    top: -2rem;
    left: 20%;
    transform: translateX(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-icon img{
    width: 50%;
}

.second__item{
    top: 2rem;
}

.third__item{
    top: 4rem;
}

/* End of Advanced Statistics */

/* Boost your link section */

.getstarted-container{
    background-color: var(--clr-dark-violet);
    background-image: url("./images/bg-boost-desktop.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 190px;
    text-align: center;
}

.getstarted-container__title{
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding-top: 1.2em;
}

.getstarted-container .get-started-btn{
    display: inline-block;
    margin-top: -0.7em;
}

/* End of Boost your link section */

/* Footer */

.footer{
    background-color: var(--clr-very-dark-violet);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 0 5rem 0;
}

.footer-logo{
    padding: 0 7rem 0 7rem;
}

.footer-title{
    color: white;
    padding-bottom: 0.8em;
    font-size: 0.9em;
    font-weight: 500;
}

.footer-content-list{
    line-height: 1.6em;
}

.footer__link{
    color: var(--clr-grayish-violet);
    text-decoration: none;
    font-size: 0.8em;
}

.footer__link:hover{
    color: var(--clr-cyan);
}

.footer-socials{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 7rem;
}

.footer__social-icon:hover {
    fill: var(--clr-cyan);
}

/* End of Footer */

.attribution { 
    padding: 1rem;
    font-size: 14px; 
    text-align: center; 
    background-color: var(--clr-very-dark-violet);
    color: var(--clr-gray);
}
.attribution a { 
    color: var(--clr-cyan); 
    text-decoration: none;
}
